@model Category

<form class="form" method="post">
    <label asp-for="Name" class="form-label">Name:</label>
    <input asp-for="Name" class="form-control" />

    <button class="btn btn-dark" type="submit">Add</button>
    <button class="btn btn-danger" type="reset">Clear</button>
</form>
    

